body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
}
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
}
h1 {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
p {
    color: #000000;
    text-align: center;
    margin-bottom: 20px;
}
ul {
    list-style-type: none;
    padding: 0;
}
li {
    margin-bottom: 10px;
    background-color: #4e4e4ed2;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(212, 212, 212, 0.1);
    color: #d1cfcf;
}